*{
    margin-left: 0px;
    text-decoration: none;
}
body{
    background-color: #ffffff;
}

h1, h2, h3, p{
    color: #181719;
}

h1{
    margin: 0px;
    display: inline-block;
    float: left;
}

header{
    height: 10vh;
}
.header-icon{
    
}

.header-navBar{
    display: inline-block;
    float: right;
}

.contianer{
    clear: both;
}
.container-imageDiv{
    display: inline-block;
}
.container-textDiv{
    width: 400px;
}

.container-imageDiv__mainPhoto{
    width: 600px;
}


.imageDiv-mainPhoto__image{
    max-width:100%;
    max-height:100%;
}

.bottomInfo-avatar__image{
    width: 80px;
    border-radius: 50%;
    float: left;
}
.container-imageDiv__bottomInfo
{
    position: absolute;
    bottom: -150px;
    left: 100px;

    width: 400px;
    background-color: #181719;
    border-style: solid;
}
.bottomInfo__bottomText{
    clear: both;
}
