body{
    background-color: #181719;
}

h1, h2, h3, p{
    color: #ffffff;
}

.header-icon{
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
}
.header-icon h1{
    font-size: 20px;
    font-family: 'Crimson Pro', serif;
    margin: 10px;
}

.header-navBar{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    margin-right: 5vw;
}

.header-navBar button{
    

    border-style: none;
    background-color: #181719;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
}
.header-navBar button:hover{
    font-weight: 700;
}

.container-textDiv h1{
    margin-bottom: 1.8rem;
    width: 100%;
    
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 2rem;
}
.container-textDiv h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.container-textDiv h3{
    margin-top: 2rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.container-imageDiv__mainPhoto{
    width: 45vw;
}


.container-imageDiv__bottomInfo{
    -webkit-box-shadow: 11px 13px 21px -1px rgb(30, 30, 32);
    -moz-box-shadow: 11px 13px 21px -1px rgb(30, 30, 32);
    box-shadow: 11px 13px 21px -1px rgb(30, 30, 32);
}

.bottomInfo-upperDiv{
    padding-top: 5%;
    margin-bottom: 5%;
}

.bottomInfo-upperDiv__avatar{
    margin-left: 20px;
    float: left;
}
.bottomInfo-upperDiv-avatar__img{
    width: 60px;
    border-radius: 50%;
}
.bottomInfo-upperDiv__text{
    display: inline-block;
    margin-left: 20px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.bottomInfo-upperDiv-text__title{
    font-size: 1.2em;

    margin-bottom: 10%;
}
.bottomInfo-upperDiv-text__title2{
    font-size: 1em;
    color: #828282;
}
.bottomInfo-bottom-Div{
    clear: both;

    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    
}

.bottomInfo-bottom-Div__text h3{
    font-family: 'Lora', serif;
    font-size: 2em;
    width: 70%;
}

footer{
    text-align: center;
    font-family: 'Montserrat', sans-serif;;
}
footer p{
    font-weight: 500;
    margin: 0px;
    display: inline-block;
}

footer a{
    text-decoration: none;
    color: #828282;
}

.footerText{
    color: #828282;
    margin-top: 10px;
}